<style>
    thead{
        background: rgb(205,149,87); 
        border:none;
    }
    th{
        color:white;
    }
    .br{
        margin-bottom: 15px;
    }
    button{
        background: rgb(205,149,87);
        border:none;
    }
    a{
        color:white;
    }
</style>
<div class="container-fluid ">
    <div class="h-100 row align-items-center">
        <h1 style="color:white; padding-bottom: 10px" class = "text text-center">Buscar Cliente</h1>

        <div class="container" style="padding-bottom: 30px">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar cliente..." ng-model="search.nombre">
                <span class="input-group-btn">
                    <button class="btn btn-search" type="button"><i class=""></i> Search</button>
                </span>
            </div>
        </div>
        <table class ="table table-bordered">
            <thead>
                <tr class ="bg-ACTIVE">
                    <th>ID</th>
                    <th>Username</th>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in clientesRecords| orderBy : 'id' | filter:search">
                    <td><a ui-sref="clienteDetail({clienteId: cliente.id})">{{cliente.id}}</a></td>
                    <td style="color:white">{{cliente.usuario}}</td>
                    <td style="color:white">{{cliente.nombre}}</td>
                    <td style="color:white">{{cliente.fecha_nacimiento}}</td>
                    <td><a class="btn btn-danger btn-sm" ui-sref="clienteDelete({clienteId: cliente.id})"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>