<style>
    a {
        color: whitesmoke;
        
    }
    h4{
        color:white;
    }
</style>
<div class="container-fluid">
    <form class="well form-horizontal" ng-submit="createHojadevida()" name="hoja"  style="background-color: #1c314c">
        <fieldset>
            <!-- Form Name -->
            <legend>
                <center>
                    <h2><b style="color:white">Hoja de vida</b></h2>
                    <h4>No tienes una hoja de vida, ¡Créala!</h4>
                </center>
            </legend>
            <br>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Nombre*</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="nombre" placeholder="Nombre" class="form-control" required ng-model="data.nombre" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Referencias</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                        <input  name="referencias" placeholder="Referencias" class="form-control" ng-model="data.referencias" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Empleos</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                        <input  name="empleos" placeholder="Empleos" class="form-control" ng-model="data.empleos" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Especialidad</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                        <input  name="especialidad" placeholder="Especialidad" class="form-control" ng-model="data.especialidad" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Experiencia</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                        <input  name="experiencia" placeholder="Experiencia" class="form-control" ng-model="data.experiencia" type="text">
                    </div>
                </div>
            </div>
            <div  class="form-group row">
                <div class="form-group col-sm-12" ng-if="!hoja.$valid">
                    <label  class="col-md-12 control-label" style="text-align:center; color:white;">Debe llenar todos los campos requeridos*</label>  
                </div> 
            </div>
            <!-- Select Basic -->
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                   <button ng-show="hoja.$valid" class="btn-o hoja" type="submit" value="Save" >SUBMIT<span class="glyphicon glyphicon-send"></span></button>
                   <a ui-sref="contratistaDetail"><button class="btn-o hoja" >Cancelar</button></a>
                </div>
            </div>
            
        </fieldset>
    </form>
</div>