<style>
    #inner {
        padding: 10px 80px;
        margin: 30px auto 20px;
        background: #1c314c;
        border: solid #666;
        border-width: 8px 0 2px 0;
    }
    #inner .titulo{
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: left;
        color:white;
        color:white;
    }
    #inner > h1 {
        font-family: oswald;
        font-size: 27px;
        font-weight: lighter;
        margin: 31px 0 4px;
        position: relative;
        text-shadow: 1px 1px 2px #000000;
        text-transform: uppercase;
        color:white;
    }
    #hd {
        margin: 0 0 0 0;
        
        border-bottom: 1px solid #ccc;
    }
    
    h3{
        color:white;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 15px;
    }
</style>
<!--ng-if="hojadevida !== null" -->
<div  id="inner">
    <div id="hd">
        <h1 class="titulo">{{hojadevida.nombre}}</h1>
        <h2 style="font-size:20px;color:white;">Contratista</h2>
    </div>
    <div id="bd">
        <h3 ng-if="hojadevida.empleos!==null"><strong>Empleos: </strong>{{hojadevida.empleos}}</h3>
        <h3 ng-if="hojadevida.referencias!==null"><strong>Referencias: </strong>{{hojadevida.referencias}}</h3>
        <h3 ng-if="hojadevida.especialidad!==null"><strong>Especialidad: </strong>{{hojadevida.especialidad}}</h3>
        <h3 ng-if="hojadevida.experiencia!==null"><strong>Experiencia: </strong>{{hojadevida.experiencia}}</h3>
        <a ui-sref="updateHojadevida"><button class="btn-o hoja">Editar</button></a>
        <a ui-sref="contratistaDetail"><button class="btn-o hoja">Cerrar</button></a>
    </div>
</div>