<style>
    a {
        color: whitesmoke;
        
    }
</style>
<div class="container-fluid">
    <form class="well form-horizontal" action=" " method="put"  id="contact_form" style="background-color: #1c314c">
        <fieldset>
            <!-- Form Name -->
            <legend>
                <center>
                    <h2><b style="color:white">Calificación</b></h2>
                </center>
            </legend>
            <br>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Tipo de servicio*</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="tipoServicio" placeholder="Plomería, climatización, etc." class="form-control" required ng-model="data.tipoServicio" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Comentario*</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="comentario" placeholder="Comentario" class="form-control" required ng-model="data.comentario" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Calificación*</label> 
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select class="form-control" name="numEstrellas" ng-model="data.numEstrellas" required="true">
                            <option value="">5</option>
                            <option value="">4</option>
                            <option value="">3</option>
                            <option value="">2</option>
                            <option value="">1</option>
                            
                        </select>
                    </div>
                </div>
            </div>
            <!-- Select Basic -->
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                    <button type="submit" ng-click="createCalificacion()" value="Save" class="btn-o hoja" ><a ui-sref="contratistaDetail">SUBMIT</a> <span class="glyphicon glyphicon-send"></span></button>
                    <button class="btn-o hoja" ><a ui-sref="hojadevida">Cancelar</a></button>
                </div>
            </div>
            
        </fieldset>
    </form>
</div>
