<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid ">
    <div class="h-100 row align-items-center">
        <table class = "table table-bordered">
        <thead>
        <tr class ="bg-primary">
            
            <th>Numero de estrellas</th>
            <th>Cliente</th>
            <th>Contratista</th>
        </tr>
        </thead>
        <tbody>
            <tr style="color:#000000" class ="active" ng-repeat="c in calificacionesRecords">
                <td>{{c.numEstrellas}}</td>
                <td>{{c.cliente.nombre}}</td>
                <td>{{c.contratista.name}}</td>
            </tr>
        </tbody>
        
    </table>
    </div>
</div>