<style>
    #inner {
        padding: 10px 80px;
        
        margin: 30px auto 20px;
        background: #1c314c;
        border: solid #666;
        border-width: 8px 0 2px 0;
    }
    #inner .titulo{
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: left;
        color:white;
        color:white;
    }
    #inner > h1 {
        font-family: oswald;
        font-size: 27px;
        font-weight: lighter;
        margin: 31px 0 4px;
        position: relative;
        text-shadow: 1px 1px 2px #000000;
        text-transform: uppercase;
        color:white;
    }
    #hd {
        margin: 0 0 0 0;
        
        border-bottom: 1px solid #ccc;
    }
    .gly{
        margin-right: 3px;
    }
    h3{
        color:white;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 15px;
    }
</style>
<div class="row">
    <div  id="inner" class="col-sm-8">
    <div id="hd">
        <h1 class="titulo">{{contrato.contratista.nombre}}</h1>
        <h2 style="font-size:20px;color:white;">Contrato</h2>
    </div>
    <div id="bd">
        <h3><strong>Fecha: </strong>{{contrato.fechaInicio}}</h3>
        <h3><strong>Descripción: </strong>{{contrato.descripcion}}</h3>
        <a ng-if="hasPermissions()" ui-sref="updateContrato"><button class="btn-o"><i class="glyphicon glyphicon-pencil gly"></i>Editar</button></a>
        <button ng-click="deleteContrato()" class="btn-o"><i class="glyphicon glyphicon-trash gly"></i>Borrar</button>
        <button ng-click="volver()" class="btn-o">Cerrar</button>
    </div>
</div>
</div>
