<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid ">
    <div class="h-100 row align-items-center">
        <table class = "table table-bordered">
        <thead>
        <tr class ="bg-primary">
            
            <th>Fecha Incicio</th>
            <th>Descripción</th>
            <th>Contratista</th>
        </tr>
        </thead>
        <tbody>
            <tr style="color:#000000" class ="active" ng-repeat="contrato in contratosRecords">
                <td>{{contrato.fechaInicio}}</td>
                <td>{{contrato.descripcion}}</td>
                <td>{{contrato.contratista.name}}</td>


            </tr>
        </tbody>
        
    </table>
    </div>
</div>