<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid ">
    <div class="h-100 row align-items-center">        
        <table class = "table table-bordered">
        <thead>
            <th>Producto</th>
            <th>SubTotal</th>
            <th>Total</th>
            <th>Forma de Pago</th>
        </tr>
        </thead>
        <tbody>
            <tr  class ="active" ng-repeat="factura in facturasRecords | orderBy : 'producto'">
                
                <td>{{factura.producto}}<a ui-sref="facturasDetail({facturaProducto: factura.producto})">{{factura.id}}</a></td>
                <td>{{factura.subTotal}}</td>
                <td>{{factura.total}}</td>
                <td>{{factura.formaPago}}</td>

            </tr>
       
                          
                        
        </tbody>
        
    </table>
    </div>
</div>

 