<style>
    thead{
        background: linear-gradient(45deg, rgba(21,64,117,1) 0%, 
            rgba(252,208,141,1) 100%);
        border:none;
    }
    th{
        color:white;
    }
    tr{
         color:tomato;
    }
    .br{
        margin-bottom: 15px;
    }
    
</style>
<div  class="container-fluid ">
    <br>
        <form>
            <input type="text" class="form-control" ng-model="producto" placeholder="Buscar">
            <br>
            <table class ="table table-bordered">
                <thead>
                    <tr class ="bg-ACTIVE">
                        <th>Id</th>                        
                        <th>Producto</th>
                        <th>FormaPago</th>
                        <th>SubTotal</th>
                        <th>Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="factura in list">
                        <td><a ui-sref="facturasDetail({facturaId: factura.id})">{{factura.id}}</a></td>
                        <td>{{factura.producto}}</td>
                        <td>{{factura.formaPago}}</td>
                        <td>{{factura.subTotal}}</td>
                        <td>{{factura.total}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </form>
   
    <button>
        <a ui-sref="createFacturas">Crear factura</a>
    </button>
</div>