
<div class="container-fluid">
    <div class="panel-group" align="center">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createFactura">Crear Factura</label>
                <label ng-if="edit" id="editAuthor">Editar Factura</label></div>
            <div class="panel-body">
                <form name="factura">
                    <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                                <input name="Producto" id="producto" placeholder="Producto:" required ng-model="data.producto" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                                <input name="FormaPago" id="formaPago" placeholder="Forma de Pago:" required ng-model="data.formaPago" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                <input name="SubTotal:" id="SubTotal:" placeholder="SubTotal:" required ng-model="data.subtotal" class="form-control"  type="number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                <input name="total" id="total" placeholder="Total:" required ng-model="data.total" class="form-control"  type="number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group" ng-if="!factura.$valid" align="center" style="padding-left: 400px; padding-right: 400px">
                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-lg-12"> 
                            <input ng-show="factura.$valid" ng-click="createFactura1()" value="Save" class="btn btn-warning"/>
                            <a class="btn btn-danger" ui-sref="facturasList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
