<style>
    a {
        color: whitesmoke;

    }
    .btn-o {
        
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 2px;
        color: #ffffff !important;
        display: inline-block;
        font-family: open sans;
        font-size: 15px !important;
        font-weight: normal !important;
        margin: 0 0 10px;
        padding: 5px 11px;
        text-decoration: none !important;
        text-transform: uppercase;

        background-color: rgba(255, 255, 255, 0.1);
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .btn-o:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: #fff !important;
    }
    .btn-o:focus {
        background:#b63b4d;
        color: #fff;
        border: 1px solid #b63b4d;
    }
</style>
<div class="container-fluid">
    <form class="well form-horizontal" ng-submit="createSolicitud()" name="solicitud"  style="background-color: #1c314c">
        <fieldset>
            <!-- Form Name -->
            <legend>
                <center>
                    <h2><b style="color:white">Crear solicitud</b></h2>
                </center>
            </legend>
            <br>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Requerimientos*</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="requerimientos" placeholder="Requerimientos" class="form-control" required ng-model="data.requerimientos" type="text">
                    </div>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Tipo de servicio*</label> 
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select class="form-control" name="tipo_servicio" ng-model="data.tipo_servicio" required="true">
                            <option value="">Escoje</option> 
                            <option ng-repeat="s in serviciosRecords" value="{{s.id}}">{{s.nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Cantidad de contratistas*</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <input  name="cantidad_contratistas" placeholder="Cantidad de contratistas" class="form-control" required ng-model="data.cantidad_contratistas" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Código de seguridad*</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                        <input  name="cod_seguridad" placeholder="Código de seguridad" class="form-control" required ng-model="data.cod_seguridad" type="password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Descripción*</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                        <input  name="descripcion" placeholder="Descripcion" class="form-control" required ng-model="data.descripcion" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" style="color:white">Fecha de inicio*</label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input name="fecha_inicio" class="form-control" required ng-model="data.fecha_inicio" type="date">
                    </div>
                </div>
            </div>
            <div  class="form-group row">
                <div class="form-group col-sm-12" ng-if="!solicitud.$valid">
                    <label  class="col-md-12 control-label" style="text-align:center; color:white;">Debe llenar todos los campos requeridos*</label>  
                </div> 
            </div>
            <!-- Select Basic -->
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4"><br>
                    <button ng-show="solicitud.$valid" class="btn-o" type="submit" value="Save" >SUBMIT<span class="glyphicon glyphicon-send"></span></button>
                    <a ui-sref="contratistaDetail"><button class="btn-o" >Cancelar</button></a>
                </div>
            </div>

        </fieldset>
    </form>
</div>