<style>
    thead{
        background: rgb(205,149,87); 
        border:none;
    }
    th{
        color:white;
    }
    .br{
        margin-bottom: 15px;
    }
    button{
        background: rgb(205,149,87);
        border:none;
    }
    a{
        color:white;
    }
</style>
<div  class="container-fluid ">
    <br>
        <form>
            <input type="text" class="form-control" ng-model="nombre" placeholder="Buscar">
            <br>
            <table class ="table table-bordered">
                <thead>
                    <tr class ="bg-ACTIVE">
                        <th>ID</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contratista in list| filter:nombre |orderBy:'id' ">
                        <td><a ui-sref="contratistaDetail({contratistaId: contratista.id})">{{contratista.id}}</a></td>
                        <td style="color:white;">{{contratista.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
   
    <button>
        <a ui-sref="createContratista">Crear contratista</a>
    </button>
</div>