<style>

    .accordion li i.glyphicon-star{
        font-size: 18px;
        position: relative;
        top: 0px;
        left: 0px;

    }
    .half { 
        color:yellow;
    }
    .half::before {
        position: relative;
        z-index: 9;
        width: 47%;
        display: block;
        overflow: hidden;
    }
    .half::after {
        content: '\e006';
        position: absolute;
        z-index: 8;
        color: #bdc3c7;
        top: 0;
        left: 0;
    }

    .accordion li i.glyphicon-list-alt{
        font-size:20px;
        position: relative;
        top: 0px;
        left: 0px;
        margin-left: 2px;
        color:white;
    }
    .full{
        color:yellow;
    }
    .empty{
        color:#bdc3c7;
    }
    

</style>
{{ctrl.calcularEstrellasContratista()}}
<ul class="submenu">

    <li><a ui-sref="contratistaDetail"><div id="rating"></div></a></li>
    <li><a ui-sref="contratistaDetail">Total calificaciones: {{currentContratista.calificaciones.length}}</a></li>
    <li><button ng-if="currentContratista.calificaciones.length>0" class="btn-o boton" ui-sref="calificacionesList({contratistaId:currentContratista.id})">Ver</button><button ng-if="isAuthenticated()" class="btn-o boton" ui-sref="createCalificacion">Calificar</button></li>
</ul>
