<style>
    thead{
        background: rgb(205,149,87); 
        border:none;
    }
    th{
        color:white;
    }
    .br{
        margin-bottom: 15px;
    }
    button{
        background: rgb(205,149,87);
        border:none;
    }
    a{
        color:white;
    }
    td{
        color:white;
    }
    p{
        font-size: 20px;
    }

    img{
        width:70%;
        height: 70%;
    }
    .InformacionPersonal .label{
        color:white;
        font-size: 20px;
    }
    .input-group{
        margin-bottom: 15px;
    }
    .input-group-addon{
        text-align: left;
        color:white;
        background: rgb(205,149,87);
        border: none;
        font-size: 20px;
    }
    .glyphicon{
        margin-right:15px;
    }
    .glyphicon-star .full{
        margin-right:0px;
        font-size: 25px;
        color:yellow;
    }
    .ratingNum{
        font-size:25px;
        color:white;
    }
    .num{
        font-size: 25px;
        margin-right:5px; 
    }
    .h2{
        color:white;
    }
    .btn-lg{
        color:white;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>{{currentContratista.nombre}}</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i>{{currentContratista.usuario}}</span>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i>{{currentContratista.correo}}</span>
            </div>
        </div>
        <div class="col-sm-8">
            <div>
                <h2 class="h2">Calificaciones</h2>
                <div class="input-group">
                    <span class="input-group-addon"><i class="num"><b>#</b></i>{{currentContratista.calificaciones.length}}</span>
                </div>
                <div class="input-group">
                    <div ui-view="listaView"></div>
                    <a ng-show="!mostrarVer" ng-click="mostrarVer = true" ui-sref="calificacionesList({contratistaId:currentContratista.id})"><button class ="btn btn-lg">Ver</button></a>
                </div>
                <div class="input-group">
                    <a ui-sref="contratistaDetail({contratistaId:currentContratista.id})"><button ng-show="mostrarVer" ng-click="mostrarVer = false" class ="btn btn-lg">Cerrar</button></a>
                </div> 
            </div>
            <div>
                <h2 class="h2">Servicios</h2>
            </div>
        </div>
    </div>
</div>
