<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="panel-group" align="center">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createCotizacion">Crear cotizacion</label>
                <label ng-if="edit" id="editcotizacion">Edit cotizacion</label></div>
            <div class="panel-body">
                <form name="cotizacion">
                    <
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="cotizacionService" class="col-sm-2">Servicio:</label>
                            <input id="cotizacionService" required ng-model="data.servicio" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="cotizacionDescription" class="col-sm-2">Descripcion:</label>
                            <textarea id="cotizacionDescription" required ng-model="data.descripcion" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="cotizacionValue" class="col-sm-2">Valor:</label>
                            <textarea id="cotizacionValue" required ng-model="data.valor" class="col-sm-6"></textarea>
                        </div>
                    </div>

                    <move-lists ng-if="edit" selected="selectedItems" available="availableItems"></move-lists>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!cotizacion.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="cotizacion.$valid" ng-click="createCotizacion()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-danger" ui-sref="cotizacionesList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="center-block well text-center" ng-if="isAuthenticated() && !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">403 Forbidden</h1>
                    <h4 >You do not have permission for this action.</h4>
                    <p >Contact the administrator to obtain permission.</p>
                </div>
            </div>
        </div>
    </div>
</div>


