<div class="container-fluid">
    <div class="panel-group" align="center">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createPago">Crear Pago</label>
                <label ng-if="edit" id="editPago">Editar Pago</label></div>
            <div class="panel-body">
                <form name="pago">
                    <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <label class="col-lg-12" style="color:whitesmoke">NumeroTarjeta:</label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                                <input name="NumeroTarjeta" id="NumeroTarjeta" placeholder="NumeroTarjeta:" required ng-model="data.numTarjeta" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <label class="col-lg-12" style="color:whitesmoke">CodigoTarjeta:</label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                                <input name="CodigoTarjeta" id="CodigoTarjeta" placeholder="CodigoTarjeta:" required ng-model="data.codigoTarjeta" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <label class="col-lg-12" style="color:whitesmoke">FechaTarjeta:</label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                <input name="FechaTarjeta" id="FechaTarjeta" placeholder="FechaTarjeta:" required ng-model="data.fechaTarjeta" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <label class="col-lg-2" style="color:whitesmoke">Descripcion:</label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                <input name="Descripcion:" id="Descripcion:" placeholder="Descripcion:" required ng-model="data.descripcion" class="form-control"  type="text">
                            </div>
                        </div>
                    </div>
                     <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <label class="col-lg-2" style="color:whitesmoke">ComprobantePagoTotal</label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                <input name="ComprobantePagoTotal" id="ComprobantePagoTotal" placeholder="ComprobantePagoTotal:" required ng-model="data.comprobantePagoTotal" class="form-control"  type="boolean">
                            </div>
                        </div>
                    </div>
                     <div class="form-group row">
                        <div class="col-lg-12 inputGroupContainer">
                            <div class="input-group">
                                <label class="col-lg-2" style="color:whitesmoke">ComprobantePagoMedio</label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>
                                <input name="ComprobantePagoMedio" id="ComprobantePagoMedio" placeholder="ComprobantePagoMedio:" required ng-model="data.comprobantePagoMedio" class="form-control"  type="boolean">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group" ng-if="!pago.$valid" align="center" style="padding-left: 400px; padding-right: 400px">
                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-lg-12"> 
                            <input ng-show="pago.$valid" ng-click="createPago()" value="Save" class="btn btn-warning"/>
                            <a class="btn btn-danger" ui-sref="pagosList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
