<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>

<head>
<style>

</style>
</head>
<div class="container-fluid ">
    <div class="h-100 row align-items-center">
        
        <table class = "table table-bordered" >
        <thead style="background:orange">
        <tr class ="bg-primary">
    
            <th>ID</th>
            <th>CodigoTarjeta</th>
            <th>ComprobantePagoMedio</th>
            <th>ComprobantePagoTotal</th>
            <th>Descripcion</th>
            <th>FechaTarjeta</th>
            <th>NumTarjeta</th>            
        </tr>
        </thead>
        <tbody>
            <tr style="color:#000000" class ="active" ng-repeat="pago in pagosRecords | orderBy : 'numTarjeta'">
                
                <td>{{pago.id}}</td>
                <td>{{pago.codigoTarjeta}}</td>
                <td>{{pago.comprobantePagoMedio}}</td>
                <td>{{pago.comprobantePagoTotal}}</td>
                <td>{{pago.descripcion}}</td>
                <td>{{pago.fechaTarjeta}}</td>
                <td>{{pago.numTarjeta}}</td>
               
                
            </tr>
        </tbody>
        
    </table>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="First group">
    <a class="btn btn-warning" ui-sref="pagosCreate">
        <span class="glyphicon glyphicon-plus-sign"></span>Realizar pago</a>
</div>
   
</div>