<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>

<head>
<style>

</style>
</head>
<div class="container-fluid ">
    <div class="h-100 row align-items-center">
        
        <table class = "table table-bordered" >
        <thead style="background:orange">
        <tr class ="bg-primary">
    
            <th>NumTarjeta</th> 
            <th>CodigoTarjeta</th>
            <th>ComprobantePagoMedio</th>
            <th>ComprobantePagoTotal</th>
            <th>Descripcion</th>
            <th>FechaTarjeta</th>
                    
        </tr>
        </thead>
        <tbody>
            <tr style="color:#000000" class ="active" ng-repeat="pago in pagosRecords | orderBy : 'numTarjeta'">
                
                <td>{{pago.numTarjeta}}</td>
                <td>{{pago.codigoTarjeta}}</td>
                <td>{{pago.comprobantePagoMedio}}</td>
                <td>{{pago.comprobantePagoTotal}}</td>
                <td>{{pago.descripcion}}</td>
                <td>{{pago.fechaTarjeta}}</td>
              
               
                
            </tr>
        </tbody>
        
    </table>
    </div>

     <button>
        <a ui-sref="createPagos">Crear Pago</a>
    </button>
</div>